.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.banner {
  height: 50px;
  display: flex;
  align-items: center;
}

.banner .hamburger {
  background: none;
  border: 0;
  height: 50px;
  padding: 0 15px;
  margin: 0;
  font-size: 25px;
  cursor: pointer;
}

.banner .hamburger:hover {
  background: #2e2e2e;
  color: #fff;
}

.banner .hamburger.show {
  background: #2e2e2e;
  color: #fff;
}

.banner .title {
  display: inline-block;
}

.banner .title h1 {
  display: inline-block;
  margin: 0 10px;
  font-size: 0.8em;
}

.banner .title .fa-dog {
  display: inline-block;
  font-size: 16px;
}

.loading-element {
  height: 100%;
}

.container-element {
  height: calc(100vh - 50px);
}

.map-element {
  height: 100%;
}

.infowindow .infowindow-h2 {
  font-size: 1em;
}

.infowindow .infowindow-img {
  display: block;
}

.infowindow .img-attribution {
  font-size: 0.85em;
  font-style: italic;
}

.infowindow .foursquare-attribution {
  display: block;
}

.sidebar {
  position: fixed;
  left: -275px;
  background: #2e2e2e;
  height: calc(100% - 50px);
  width: 275px;
  opacity: 0.9;
  overflow-y: scroll;
}

.sidebar.show {
  left: 0;
  z-index: 1;
}

.sidebar h2 {
  margin: 20px;
  font-size: 1.25em;
  color: #fff;
}

.sidebar .hikes-search {
  margin: 10px 20px;
  padding: 0 10px;
  height: 30px;
  font-size: 1em;
  color: #2e2e2e;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  visibility: hidden;
  box-shadow: inset 0 0 5px grey;
  background-color: #2e2e2e;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

.sidebar .hikes-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.sidebar .hikes-list li {
  padding: 15px 20px;
  cursor: pointer;
  color: #fff;
  font-size: 0.9em;
}

.sidebar .hikes-list li:hover {
  font-weight: bold;
}

.sidebar .hikes-list li.highlight {
  background-color: #000;
}

/* Responsiveness */
@media only screen and (min-width: 350px) {
  .banner .title h1 {
    font-size: 0.9em;
  }

  .banner .title .fa-dog {
    font-size: 18px;
  }
}

@media only screen and (min-width: 500px) {
  .banner .title h1 {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 600px) {
  .banner .hamburger {
    position: fixed;
    left: -75px;
  }

  .banner .title h1 {
    margin: 0 20px;
    font-size: 1.5em;
  }

  .banner .title .fa-dog {
    font-size: 25px;
  }

  .sidebar {
    position: fixed;
    left: 0;
  }

  .container-element {
    position: fixed;
    width: calc(100vw - 275px);
    left: 275px;
  }
}
