.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  height: 50px;
  display: flex;
  align-items: center;
}

.nav .hamburger {
  background: none;
  border: 0;
  height: 50px;
  padding: 0 15px;
  margin: 0 10px 0 0;
  font-size: 25px;
  cursor: pointer;
}

.nav .hamburger:hover {
  background: #2e2e2e;
  color: #fff;
}

.nav .hamburger.show {
  background: #2e2e2e;
  color: #fff;
}

.nav .title {
  display: inline-block;
}

.nav .title h1 {
  margin: 0;
  font-size: 1em;
}

.loading-element {
  height: 100%;
}

.container-element {
  height: calc(100vh - 50px);
}

.map-element {
  height: 100%;
}

.info-window-h2 {
  font-size: 1em;
}

.sidebar {
  position: fixed;
  left: -275px;
  background: #2e2e2e;
  height: calc(100vh - 50px);
  width: 275px;
}

.sidebar.show {
  left: 0;
  z-index: 1;
}

.sidebar h2 {
  margin: 20px;
  font-size: 1.25em;
  text-decoration: underline;
  color: #fff;
}

.hikes-list {
  margin: 10px 20px;
  padding: 0;
  list-style: none;
}

.hikes-list li {
  margin: 20px 0;
  cursor: pointer;
  color: #fff;
}

.hikes-list li:first-of-type {
  margin: 0 0 20px;
}

.hikes-list li:hover {
  font-weight: bold;
}

/* Responsiveness */
@media only screen and (min-width: 500px) {
  .nav .title h1 {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 600px) {
  .nav .hamburger {
    position: fixed;
    left: -75px;
  }

  .nav .title h1 {
    margin: 0 20px;
    font-size: 1.5em;
  }

  .sidebar {
    position: fixed;
    left: 0;
  }

  .container-element {
    position: fixed;
    width: calc(100vw - 275px);
    left: 275px;
  }
}
